// 웹폰트 사용을 위한 font-family 설정
body {
  font-family: 'MinSans', 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, sans-serif;
}

// 필요한 경우 font-weight 클래스 설정
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}