.guestbook {
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  width:100%;
  height:100dvh;
    font-family: 'MinSans';
  padding: 20px 20px 20px 20px;
  
  &-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }

  &-input, &-textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.4rem;
    font-family: 'MinSans', sans-serif;
    
    &::placeholder {
      font-family: 'MinSans', sans-serif;
      color: #999;
    }
  }

  &-textarea {
    height: 80px;
    resize: none;
  }

  &-submit {
    padding: 10px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight:600;
    font-family: 'MinSans', sans-serif;

    &:hover {
      opacity: 0.9;
    }
  }
}

.messages {
  bottom:20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height:400px;
  padding-right:8px;
  overflow-y:scroll;
  // 스크롤바 스타일
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #999;
  }
}

.message {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;

  &-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &-name {
    font-weight: bold;
    font-size:1.4rem;
  }

  &-date {
    color: #666;
  }

  &-content {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
.mt{
  margin-top:30px;
}
.dropdown {
  width: 100%;
  padding: 10px;
  font-size: 1.6rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 10px;

  .detail_btn {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3rem;
    cursor: pointer;
    font-weight:600;

    .down_btn {
      font-size: 2.6rem;
      transition: transform 0.3s ease;
      color:#cecece;
      
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
  .con_box{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:6px;
  }
  .detail_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding-top 0.3s ease-out;
    padding:0 6px 0 4px;
    line-height: 1.6;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    
    &.show {
      max-height: 110px; // 내용의 최대 높이보다 큰 값으로 설정
      padding-top: 10px;
      padding-bottom: 6px;
      color:#555;
    }
  }
}

.copy_btn{
  font-size:1.4rem;
  padding:2px 10px 2px 10px;
  background-color:#ffffff;
  box-shadow:inset 0 0 1px 1px #d6d6d6;
  color:#666;
  border-radius:5px;
  cursor:pointer;
}





