.wrap{
    width:100%;
    height:100vh;
    background-color:#111;
    padding-left:2px;
    @media(width > 470px){
        max-width:470px;
        margin:0 auto;
    }
}



.content{
    overflow:hidden;
    width:100%;
    height:100%;
    background-color:#fff;
}
.topline{
    width:100%;
    height:4%;
    font-size:1.4rem;
    font-weight:400;
    padding-left:2%;
    background-color:#111;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}
.title_box{
    width:100%;
    height:17%;
    display:flex;
    align-items:center;
    position:relative;
}
    .title_box:after{
        content:'';
        position:absolute;
        width:100%;
        height:6px;
        bottom:0;
        left:0;
        background-color:#111;
    }
.title{
    font-family:'s-coredream';
    width:100%;
    font-size:3rem;
    font-weight:900;
    text-align:center;
    padding:3% 0 3% 0;
}

.subtitle{
    width:100%;
    height:8%;
    font-size:1.6rem;
    text-align:center;
    line-height:2.4rem;
    position:relative;
}
    .subtitle_txt{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:100%;
    }

.maincover{
    width:100%;
    height:44%;
    display:flex;
    justify-content:center;
    padding:30px 0 36px 0;
}
    .maincover img{
        width:auto;
        height:100%;
    }

.people{
    width:100%;
    height:auto;
    font-size:1.6rem;
    font-weight:400;
    line-height:3rem;
    text-align:center;
}
.b{
    font-weight:500;
    font-size:1.8rem;
}

.date{
    width:100%;
    height:auto;
    font-size:1.6rem;
    font-weight:300;
    line-height:3rem;
    text-align:center;
}

.location{
    width:100%;
    height:auto;
    font-size:1.6rem;
    font-weight:300;
    line-height:2rem;
    text-align:center;
}

.bottom_space{
    width:100%;
    margin-top:8%;
    height:12%;
    background-color:#111;
    color:#fff;
    font-weight:200;
    font-size:1.8rem;
    position:relative;
}
    .bottom_space:after{
        content:'happy wedding picture';
        position:absolute;
        bottom:30%;
        left:50%;
        transform:translate(-50%,0);
        padding:0 6px 0 6px;
        line-height:4rem;
        border-bottom:solid 1px #fff;
    }


///////////        섹션2        ///////////
.content02{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.photo_box{
    width:100%;
    height:auto;
    padding-bottom:2%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.photo{
    width:31%;
    height:auto;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo img{
    width:100%;
    height:auto;
    display: block;
    margin: 0 auto;
    filter:grayscale(0.9);
}
.photo img:hover{
    filter:grayscale(0);
}



.content03{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#fff;
}
.map_title{
    width:100%;
    height:auto;
    font-size:2rem;
    font-weight:600;
    text-align:center;
    line-height:3rem;
    padding:10px 0 10px 0;
}
.map{
    width:100%;
    height:50%;
    background-color:#e6e6e6;
    margin-bottom:10px;
}

.explain{
    width:100%;
    height:auto;
}
.vehicle{
    width:100%;
    height:auto;
    font-size:2.2rem;
    padding-left:2%;
    font-weight:500;
}
.detail{
    padding-top:6px;
    padding-left:4%;
    font-size:1.8rem;
}

@font-face {
    font-family: 'MinSans-Thin';
    src: url('/fonts/MinSans-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinSans-Light';
    src: url('/fonts/MinSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinSans-Regular';
    src: url('/fonts/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




