.wrap{
    position:fixed;
    overflow:scroll;
    width:100%;
    height:100dvh;
    background-color:#fff;
    @media(width > 470px){
        max-width:470px;
        left:50%;
        transform:translate(-50%,0);
    }
}


.sections {
    height:auto;
    transition: transform 1s ease;
}
.section{
    height:100dvh;
    overflow-y: hidden;
}

.content{
    font-family:'GangwonEdu_OTFBoldA';
    color:#2c0e07;
    overflow:hidden;
    width:100%;
    background-color:#fff;
}
.topline{
    width:100%;
    height:4%;
    font-size:1.4rem;
    font-weight:400;
    padding-left:2%;
    background-color:#2c0e07;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}
.music_box{
    z-index: 9;
    position:relative;
    width:100%;
    height:0;
    @media(width > 470px){
        max-width:470px;
        left:50%;
        transform:translate(-50%,0);
    }
}
.music_btn{
    color:#fff;
    font-weight:100;
    font-size:2rem;
    display:block;
    line-height:3rem;
    position:fixed;
    top:0;
    right:0;
    padding-right:10px;
    cursor:pointer;
    z-index: 10;
}
    .music_btn:before{
        content:'';
        position:absolute;
        top:1px;
        left:-5px;
        background-color:#2c0e0740;
        width:100%;
        height:3rem;
        z-index: -1;
        border-radius:10px;
    }
.title_box{
    width:100%;
    height:20%;
    display:flex;
    align-items:center;
    position:relative;
}
    /*.title_box:after{
        content:'';
        position:absolute;
        width:100%;
        height:6px;
        bottom:0;
        left:0;
        background-color:#111;
    }*/
.title{
    font-family: 'EF_jejudoldam';
    width:100%;
    font-size:4.8rem;
    text-align:center;
    letter-spacing:-0.4rem;
    line-height:6.4rem;
    padding:1% 0 4% 0;
    @media(height <= 670px){
        font-size:3.6rem;
        line-height:4.4rem;
        padding:0.4% 0 4% 0;
    }
}

.subtitle{
    width:100%;
    height:4%;
    font-size:1.7rem;
    text-align:center;
    margin-left:0.6rem;
    line-height:2.6rem;
    position:relative;
    @media(height <= 670px){
        font-size:1.4rem;
        line-height:2rem;
    }
}
    .subtitle_txt{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:100%;
    }

.maincover{
    width:100%;
    height:48%;
    display:flex;
    justify-content:center;
    padding:30px 0 36px 0;
    @media(height <= 670px){
        height:44%;
    }
}
    .maincover img{
        width:auto;
        height:100%;
    }

.people{
    width:100%;
    font-size:1.6rem;
    font-weight:400;
    line-height:2.4rem;
    text-align:center;
    padding:1px 0 1px 0;
    @media(height <= 670px){
        font-size:1.4rem;
    }
}
.b{
    font-weight:500;
    font-size:1.8rem;
    @media(height <= 670px){
        font-size:1.6rem;
    }
}

.date{
    margin-top:1rem;
    width:100%;
    font-size:1.6rem;
    font-weight:300;
    line-height:2.4rem;
    text-align:center;
    padding:1px 0 1px 0;
    @media(height <= 670px){
        font-size:1.4rem;
    }
}

.location{
    width:100%;
    font-size:1.6rem;
    font-weight:300;
    line-height:2.4rem;
    text-align:center;
    padding:1px 0 1px 0;
    @media(height <= 670px){
        font-size:1.4rem;
    }
}
.bottom_line{
    width:100%;
    height:5%;
    background-color:#2c0e07;
    position:absolute;
    bottom:-1%;
}



///////////        섹션2        ///////////
.content02{
    position:relative;
    width:100%;
    height:auto !important;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#2c0e07;
}
.bottom_space{
    width:100%;
    height:7%;
    background-color:#2c0e07;
    color:#fff;
    font-weight:200;
    font-size:1.8rem;
    position:relative;
    font-family:'GangwonEdu_OTFBoldA';
    font-size:2rem;
    padding:0 6px 0 6px;
    line-height:3rem;
    text-align:center;
}
    .bottom_space:after{
        font-family:'GangwonEdu_OTFBoldA';
        content:'';
        position:absolute;
        bottom:10%;
        width:50%;
        left:50%;
        font-size:2rem;
        transform:translate(-50%,0);
        padding:0 6px 0 6px;
        line-height:3rem;
        border-bottom:solid 1px #fff;
    }

.photo_box{
    margin-top:16px;
    width:100%;
    height:22%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.photo{
    width:31%;
    height:160px;
    background-color:#2c0e07;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.photo img{
    width:auto;
    height:120%;
    display: block;
    margin: 0 auto;
    filter:saturate(40%);
}
.photo img:hover{
    filter:grayscale(0);
}
.empty{
    width:100%;
    height:40px;
    background-color:#2c0e07;
}


//////////////////////  찾아오시는 길  /////////////////////////
.content03{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    background-color:#fff;
}
.map_title{
    margin-top:30px;
    width:100%;
    height:auto;
    font-size:1.6rem;
    font-weight:600;
    text-align:center;
    line-height:1.6rem;
    padding:10px 0 10px 0;
    background-color:#fff;
}
.map{
    width:100%;
    height:auto;
    margin-bottom:50px;
}
.root_daum_roughmap{
    width: 100%;
    height:auto;
}
    .kakaomap{
        width:100%;
        height:300px;
        background-color:rgba(255, 166, 0, 0.164);
    }
        .kakaomap img{
            width:100%;
            height:auto;
        }

.explain{
    width:100%;
    height:auto;
    margin-bottom:34px;
}
.vehicle{
    width:100%;
    height:auto;
    font-size:1.8rem;
    padding-left:2%;
    font-weight:600;
    margin-bottom:5px;
}
.detail{
    max-height:200px;
    transition: max-height 0.3s ease; // 트랜지션 추가
}
.detail_btn{
    color:#999;
    font-weight:600;
    font-size:1.4rem;
    float:right;
    padding-right:10px;
    margin-top:5px;
    cursor:pointer;
}
.subtxt{
    color:#555;
    font-weight:600;
    font-size:1.4rem;
}
.gap{
    padding-bottom:40px;
}
.boxing{
    background-color:#f5f5f5;
    border-radius:5px;
    margin:0 6px;
    padding:6px 0 6px 15px;
}
.boldtxt{
    font-weight:600;
    color:#555;
}
.strongtxt{
    color:#111;
}
.txtbox{
    height:28px;
    line-height:28px;
    font-size:1.4rem;
}
.blue{
    background-color:blue;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:1px 5px 1px 5px;
    margin-left:5px;
}
.red{
    background-color:red;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:1px 5px 1px 5px;
    margin-left:5px;
}
.green{
    background-color:green;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:1px 5px 1px 5px;
    margin-left:5px;
}
.purple{
    background-color:purple;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:1px 5px 1px 5px;
    margin-left:5px;
}
.icon{
    font-size:2rem;
    font-weight:300;
}


//////////////////////////////////축하 인사/////////////////////////////////

.content04{
    width:100%;
    height:120dvh;
    background-color:#fff;
    position:relative;
    margin-bottom:10px;
}

//////////////////////////////////마무리리/////////////////////////////////
.content05{
    width:100%;
    background-color:#fff;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer_title{
    font-family:'GangwonEdu_OTFBoldA';
    color:#2c0e07;
    width:100%;
    height:auto;
    line-height:3rem;
    text-align:center;
    font-size:2rem;
    font-weight:600;
    margin-top:40px;
    @media(height <= 670px){
        font-size:1.6rem;
        line-height:2.2rem;
    }
}
.footer_image{
    width:100%;
    height:500px;
    display:flex;
    align-items:center;
    justify-content: center;
}
    .footer_image img{
        width:60%;
    }

.footer_link{
    width:60%;
    margin:0 auto;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:1.6rem;
    font-weight:600;
    margin-top:20px;
    background-color:#2c0e07;
    color:#fff;
    border-radius:5px;
}
.ri-external-link-line{
    margin-left:10px;
    font-weight:100;
}
.footer_space{
    width:100%;
    height:40px;
    background-color:fff;
}
.footer_copyright{
    padding:2px;
    margin:0 auto;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:1.4rem;
    font-weight:400;
    color:#b6b6b6;
    position:relative;
    width:auto;
}
    .footer_copyright:after{
        content:'';
        position:absolute;
        top:12px;
        left:50%;
        transform:translate(-50%,0);
        width:100%;
        background-color:#b6b6b6;
        height:1px;
    }

