.wrap{
    position:fixed;
    overflow:hidden;
    width:100%;
    height:100dvh;
    background-color:#111;
    @media(width > 470px){
        max-width:470px;
        left:50%;
        transform:translate(-50%,0);
    }
}


.sections {
    height: 100%;
    transition: transform 1s ease;
}
.section{
    height:100dvh;
    overflow-y: hidden;
}

.content{
    overflow:hidden;
    width:100%;
    background-color:#fff;
}
.topline{
    width:100%;
    height:4%;
    font-size:1.4rem;
    font-weight:400;
    padding-left:2%;
    background-color:#111;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}
.music_btn{
    color:#fff;
    font-weight:100;
    font-size:2rem;
    display:block;
    height:4%;
    position:fixed;
    top:0;
    right:0;
    padding-right:10px;
    padding-top:2px;
    cursor:pointer;
}
.title_box{
    width:100%;
    height:16%;
    display:flex;
    align-items:center;
    position:relative;
}
    .title_box:after{
        content:'';
        position:absolute;
        width:100%;
        height:6px;
        bottom:0;
        left:0;
        background-color:#111;
    }
.title{
    font-family:'s-coredream';
    width:100%;
    font-size:3rem;
    font-weight:900;
    text-align:center;
    padding:3% 0 3% 0;
    @media(height <= 700px){
        font-size:2.6rem;
    }
}

.subtitle{
    width:100%;
    height:8%;
    font-size:1.6rem;
    text-align:center;
    line-height:2.4rem;
    position:relative;
    @media(height <= 700px){
        font-size:1.4rem;
    }
}
    .subtitle_txt{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:100%;
    }

.maincover{
    width:100%;
    height:52%;
    display:flex;
    justify-content:center;
    padding:30px 0 36px 0;
    @media(height <= 700px){
        height:48%;
    }
}
    .maincover img{
        width:auto;
        height:100%;
    }

.people{
    width:100%;
    font-size:1.6rem;
    font-weight:400;
    line-height:3rem;
    text-align:center;
    padding:1px 0 1px 0;
    @media(height <= 700px){
        font-size:1.4rem;
    }
}
.b{
    font-weight:500;
    font-size:1.8rem;
    @media(height <= 700px){
        font-size:1.6rem;
    }
}

.date{
    width:100%;
    font-size:1.6rem;
    font-weight:300;
    line-height:3rem;
    text-align:center;
    padding:1px 0 1px 0;
    @media(height <= 700px){
        font-size:1.4rem;
    }
}

.location{
    width:100%;
    font-size:1.6rem;
    font-weight:300;
    line-height:2rem;
    text-align:center;
    padding:1px 0 1px 0;
    @media(height <= 700px){
        font-size:1.4rem;
    }
}
.bottom_line{
    width:100%;
    height:4%;
    background-color:#111;
    position:absolute;
    bottom:0;
}



///////////        섹션2        ///////////
.content02{
    position:relative;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom_space{
    width:100%;
    height:12%;
    background-color:#111;
    color:#fff;
    font-weight:200;
    font-size:1.8rem;
    position:relative;
}
    .bottom_space:after{
        content:'happy wedding picture';
        position:absolute;
        bottom:30%;
        left:50%;
        transform:translate(-50%,0);
        padding:0 6px 0 6px;
        line-height:4rem;
        border-bottom:solid 1px #fff;
    }

.photo_box{
    width:100%;
    height:22%;
    padding-bottom:2%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.photo{
    width:31%;
    height:100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
.photo img{
    width:100%;
    height:auto;
    display: block;
    margin: 0 auto;
    filter:grayscale(0.9);
}
.photo img:hover{
    filter:grayscale(0);
}
.empty{
    width:100%;
    height:40px;
    background-color:#111;
}


//////////////////////  찾아오시는 길  /////////////////////////
.content03{
    width:100%;
    display:flex;
    flex-direction: column;
    background-color:#fff;
}
.map_title{
    width:100%;
    height:auto;
    font-size:2rem;
    font-weight:600;
    text-align:center;
    line-height:3rem;
    padding:10px 0 10px 0;
    background-color:#fff;
}
.map{
    width:100%;
    height:auto;
    margin-bottom:50px;
}
.root_daum_roughmap{
    width: 100%;
    height:auto;
}
    .kakaomap{
        width:100%;
        height:300px;
        background-color:rgba(255, 166, 0, 0.164);
    }
        .kakaomap img{
            width:100%;
            height:auto;
        }

.explain{
    width:100%;
    height:auto;
    margin-bottom:20px;
}
.vehicle{
    width:100%;
    height:auto;
    font-size:1.8rem;
    padding-left:2%;
    font-weight:600;
    margin-bottom:5px;
}
.detail{
    font-size:1.6rem;
}
    .detail p{
        
    }

.subtxt{
    color:#555;
    font-weight:600;
    font-size:1.6rem;
}
.gap{
    padding-bottom:40px;
}
.boxing{
    background-color:#f5f5f5;
    border-radius:5px;
    margin:0 6px;
    padding:10px 0 10px 15px;
}
.boldtxt{
    font-weight:600;
    color:#555;
}
.strongtxt{
    color:#111;
}
.txtbox{
    height:32px;
    line-height:30px;
}
.blue{
    background-color:blue;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:2px 6px 2px 6px;
    margin-left:5px;
}
.red{
    background-color:red;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:2px 6px 2px 6px;
    margin-left:5px;
}
.green{
    background-color:green;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:2px 6px 2px 6px;
    margin-left:5px;
}
.purple{
    background-color:purple;
    font-weight:600;
    border-radius:5px;
    color:#fff;
    padding:2px 6px 2px 6px;
    margin-left:5px;
}
.icon{
    font-size:2rem;
    font-weight:300;
}


//////////////////////////////////축하 인사/////////////////////////////////

.content04{
    width:100%;
    background-color:#fff;
    position:relative;
}

//////////////////////////////////마무리리/////////////////////////////////
.content05{
    width:100%;
    background-color:#fff;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer_title{
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:1.6rem;
    font-weight:600;
    margin-top:20px;
}
.footer_image{
    width:100%;
    height:500px;
    display:flex;
    align-items:center;
    justify-content: center;
}
    .footer_image img{
        width:70%;
    }

.footer_link{
    width:60%;
    margin:0 auto;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:1.6rem;
    font-weight:600;
    margin-top:20px;
    background-color:#111;
    color:#fff;
    border-radius:5px;
}
.ri-external-link-line{
    margin-left:10px;
    font-weight:100;
}
.footer_space{
    width:100%;
    height:40px;
    background-color:fff;
}
.footer_copyright{
    padding:2px;
    margin:0 auto;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:1.6rem;
    font-weight:100;
    color:#999;
    position:relative;
    width:auto;
}
    .footer_copyright:after{
        content:'';
        position:absolute;
        top:12px;
        left:50%;
        transform:translate(-50%,0);
        width:100%;
        background-color:#cfcfcf;
        height:1px;
    }

